@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100vw;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #f0f0f0; */
    background-color: #191919;
    /* background-color: #333333; */
    display: flex;
    justify-content: space-between;
    z-index: 100;
    padding: 30px 10%;
}
.PortfolioLogo{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
}
.nav{
    font-size: 30px;
}
.navbar ul{
    display: flex;
}
.navbar nav li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.navbar nav li a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    padding: 0px 20px;
}

.main {
    /* background-color: #f0f0f0; */
    background-color: #191919;
    /* background-color: #333333; */
    padding-top: 95px;
    font-family: 'Ubuntu', sans-serif;
}

.infocontainer {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.Image{
    background-color: #191919;
    /* background-color: #333333; */
    /* height: 600px; */
}
.MyImage{
    height: 750px;
}
.myinfo {
    /* background-color: pink; */
    padding-top: 180px;
    color: rgb(234, 232, 232);
    /* color: #ffffff; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.hello {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

.name {
    font-size: 85px;
    font-weight: bold;
    margin: 20px 0px;
    font-family: 'Ubuntu', sans-serif;
}

/* .overview {
    font-size: 50px;
} */
.overview {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    /* margin-bottom: 25px */
    /* font-family: 'Roboto', sans-serif; */
    /* color: #555;  */
}

/* .contact-icons-1{
    width: 100%;
} */
.contact-icons-1 i{
    padding: 0px 10px;
    color: #ffffff;
    padding-top: 13px;
    display:inline-flex;
}
.social-media{
    display:flex;
    padding-top: 120px;
}
.social-media p{
    font-size: 25px;
    margin-right: 25px;
}

.buttons{
    margin: 30px 0px;
}
.btn {
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border:2px solid transparent;
    border-radius: 20px;
    font-size: 19px;
    margin: 0 3px;
    cursor: pointer;
}
#download-btn{
    background-color: #f9004d;
}
#download-btn:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    color: #f9004d;
}
#contact-btn{
    background-color: #333333;
}
#contact-btn:hover{
    background-color: transparent;
    border: 2px solid #faebd7;
    color: #faebd7;
}

.contactform {
    padding: 0 35px;
    padding-top: 100px;

}
.contactform h1{
    padding: 12px 0;
}

.contactform form div {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.contactform form div input {
    width: 20vw;
    border-radius: 3px;
    margin: 5px 0;
}

#emailHelp {
    font-size: 12px;
    color: midnightblue;
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width: 23px;
    margin:2px 0;
}
.About h2{
    margin: 120px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.About p{
    margin: 120px;
    font-family: 'Open Sans', sans-serif;
}
.skillcontainer{
    padding: 12px;
}
.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}
.skill{
    width: 260px;
    height: 8px;
    background-color: red;
    border: 2px solid black;
}
.hundred{
    width: 260px;
}
.seventy{
    width: 200px;
}
.fifty{
    width: 130px;
}
.thirty{
    width: 80px;
}
.hamburger{
    position:absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.about{
    color: #ffffff;
    width: 100%;
    padding: 100px 0px;
    background-color: #333333;
    /* background-color: #191919; */
}
.about-me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap ;
    /* gap: 20px; */
    max-width: 95%;
}
.about-me img{
    height: 450px;
    /* width: 430px; */
}
.about h5{
    /* width: 50%; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content:space-around; */
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
.about-text{
    width: 500px;
}

.about-text h2{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
}
.talk-btn{
        padding: 9px 14px;
        color: white;
        font-weight: bold;
        border: 2px solid transparent;
        border-radius: 22px;
        background-color: #f9004d;
        font-size: 21px;
        margin: 60px 3px;
    }
    .talk-btn:hover{
        color: white;
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
}
.projects{
    background-color: #232323;
}
.projects-section{
    text-align: center;
    /* padding-top: 50px; */
}
.projects-section h2{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 900; */
    padding-top: 60px;
    color: #ffffff;
}
.projects-container{
    width: 100%;
    padding: 60px 200px;
    /* background-color: #191919; */
    /* background-color: #333333; */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project{
    border: 1px solid #ffffff;
    padding: 20px;
    width: 500px;
    margin: 0px 20px;
    margin-bottom: 70px;
    transition: transform 0.2s; /* Add a smooth hover effect */
}

.project:hover {
    transform: scale(1.02); /* Slight zoom on hover */
}


#dear-dairy{
    width: 450px;
}
.comming-soon{
    width: 400px;
}
.project-info{
    margin-top: 15px;
    font-size: 20px;
}
.project-info p{
    margin: 5px 0px;
}
.project-info a{
    text-decoration: none;
    font-weight: 600;
}

.contact-section h2{
    margin-top: 60px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}
.contact-icons{
    display: flex;
    justify-content: center;
    width: 500px;
}
.contact-icons i{
    padding: 0px 10px;
    color: #ffffff;
    padding-top: 50px;
    display:inline-flex;
}
.contact-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #ffffff;
    margin-top: 70px;
    padding-bottom: 50px;
}
.contact-info{

    width: 600px;
    margin: 0px 20px;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #232323;
    padding: 30px 0px;
    border-radius: 8px;

}
.contact-info h3{
    font-size: 30px;
    margin-bottom: 20px;
}
.contact-info p{
    margin: 10px 0px;
    font-size: 20px;

}
.message{
    background-color: #232323;
    padding: 10px 10px;
    width: 600px;
    margin: 0px 20px;
    /* margin-bottom: 60px; */
    border-radius: 8px;
}
.message input{
    width: 100%;
    padding: 12px 12px;
    font-size: 18px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
}
#message{
    margin-top: 10px;
    width: 100%;
    font-size: 18px;
    padding: 12px 12px;
    border-radius: 5px;
}
#message-btn{
    padding: 9px 14px;
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 22px;
    background-color: #f9004d;
    font-size: 21px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.footer{
    
    /* background-color: #232323; */
    background-color: #191919;
    /* background-color: #333333; */
    padding: 35px 0px;
    color: #ffffff;
    text-align: center;
    height: auto;
}